*{
    margin: 0%;
    padding: 0%;
}

.body{
    background-color: wheat;
    background-image: url("./Images/Lipool.jpg");
    background-size: 130px;
    background-position: -400px 0px;
    background-repeat: no-repeat;
    height: 100vh;
}
div.main{
    width: 600px;
    margin: 200px auto 0px auto;
}
h1{
    text-align: center;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: solid rgba(255,255,255,0.3);
    box-shadow: 10px;
    color: #fff;
}
form#register{
    margin: 40px;
}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
}
body{
    background-image: url("./Images/Lipool.jpg");
}